<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crud Project</title>
    <link href="/css/materialize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Heroes Table -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Note</th>
                <th>Modified Date</th>
                <th>Modify</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="hero : ${list}" th:object="${hero}">
                <td th:text="*{name}"></td>
                <td th:text="*{age}"></td>
                <td th:text="*{note}"></td>
                <td th:text="*{modifiedDate}"></td>
                <!-- Update Modal Trigger -->
                <td>
                    <a href="#updateModal" class="modal-trigger" th:text="modify"
                       th:onclick="|javascript:findById(*{id})|">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Create Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#createModal">Create</a>

    <!-- Create Modal Structure -->
    <div id="createModal" class="modal modal-fixed-footer">
        <div class="modal-header">
            <h4>Create Form</h4>
        </div>
        <div class="row input-field">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" id="createName" class="autocomplete">
                        <label for="createName">Name</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">date_range</i>
                        <input type="text" id="createAge" class="autocomplete">
                        <label for="createAge">Age</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit</i>
                        <input type="text" id="createNote" class="autocomplete">
                        <label for="createNote">Note</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat"
               th:onclick="|javascript:save()|">Save</a>
        </div>
    </div>

    <!-- Update Modal Structure -->
    <div id="updateModal" class="modal modal-fixed-footer">
        <div class="modal-header light-blue darken-1">
            <h4>Update Form</h4>
        </div>
        <div class="row input-field">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder type="text" id="updateName" class="autocomplete">
                        <label for="updateName">Name</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">date_range</i>
                        <input placeholder type="text" id="updateAge" class="autocomplete">
                        <label for="updateAge">Age</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit</i>
                        <input placeholder type="text" id="updateNote" class="autocomplete">
                        <label for="updateNote">Note</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat"
               th:onclick="|javascript:update()|">Update</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>